* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.d_none {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432);
}