* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.d_none {
    display: none;
}

.d_flex {
    display: flex;
}

.d_flex_sb_c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432);
}