.spinner {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 107, 85);
    z-index: 9999;
}

.spinner-img {
    width: 310px;
    height: 310px;
    animation: spin 2.0s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}